# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Zombie Horder- Class B.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\diego\Documents\GitHub\George Brown\Zombie Horder - Class B\Zombie Horder- Class B\.idea\.idea.Zombie Horder- Class B\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
